// CAROUSEL GLOBAL
.carousel{
  position: relative;

  figure{
    display: none;
    width: 100%;
    height: 384px;
    @include bgImg(no-repeat,center,center,cover);
  }

  button{
    border: none;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
    height: 44px;
    background-color: rgba($color: #000000, $alpha: 0);
    background-image: url('../../ico/arrowL.svg');
    @include bgImg(no-repeat,center,center,48%);
    overflow: hidden;
    outline:none;
    cursor:pointer;
    opacity: .6;
    transition: all .14s ease-out ;
    &:nth-of-type(1){left: 20px;}
    &:nth-of-type(2){right: 20px; transform: rotate(180deg) translateY(50%);}
    &:hover{
      opacity: 1;
      background-color: rgba($color: #000000, $alpha: .4);
    }
  }
}

.dots{
  display: flex;
  justify-content: center;
  button{
    border: 1px solid rgba($cJScompl, .2);
    background-color: rgba($cg, .2);
    border-radius: 50%;
    width: 16px; 
    height: 16px;
    margin: 14px 8px;
    cursor: pointer;
    transition: background-color .14s ease-in, border .2s ease-in;
  }
}

.dot-active, #dts1 button:hover, #dts2 button:hover{
  border: 8px solid rgba($cJScompl, .3) !important;
  background-color: rgba($cg, .3) !important;
}

// CAROUSEL 1
#car1 figure{
  &:nth-of-type(1){background-image: url('../../img/01.jpg');}
  &:nth-of-type(2){background-image: url('../../img/02.jpg');}
  &:nth-of-type(3){background-image: url('../../img/03.jpg');}
  &:nth-of-type(4){background-image: url('../../img/04.jpg');}
}

// CAROUSEL 2
#car2 figure{
  &:nth-of-type(1){background-image: url('../../img/05.jpg');}
  &:nth-of-type(2){background-image: url('../../img/06.jpg');}
  &:nth-of-type(3){background-image: url('../../img/07.jpg');}
  &:nth-of-type(4){background-image: url('../../img/08.jpg');}
}

// CAROUSEL 3
#car3 figure{
  &:nth-of-type(1){background-image: url('../../img/09.jpg');}
  &:nth-of-type(2){background-image: url('../../img/10.jpg');}
  &:nth-of-type(3){background-image: url('../../img/11.jpg');}
  &:nth-of-type(4){background-image: url('../../img/12.jpg');}
}


// CAROUSEL 4
.car4{
  position: relative;
  margin: 100px auto;

  .car4-track-cont{
    position: relative;
    overflow: hidden;
    margin: 40px auto;
  
    .car4-track{
      position: absolute;
      left: 0px;
      display: flex;
      height: 100%;
      list-style: none;
      transition: all .4s ease-out;
      
      .car4-slide{
        width: 600px;
        height: 300px;

        &>img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .car4-butt-cont{
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    display: flex;
    width: 300px;
    height: 8px;
    background-color: silver;
    margin: 40px auto;

    .car4-butt{
      flex-grow: 1;
      cursor: pointer;
    }

    .car4-indicator{
      border-radius: 8px;
      position: absolute;
      top: 0; left: 0px;
      background-color: rgba($cJScompl, .4);
      width: 33.3%;
      height: 100%;
      transition: all .4s ease-out;
      cursor: pointer;
    }
  }
} 


// // CAROUSEL 5
.car5{
  width: 600px !important;
  margin: auto;
  overflow: hidden;

  .car5-slide{
    display: flex;
    width: 100%;
    height: 500px;

    img{
      width: 600px;
      object-fit: cover;
    }
  }
}
