@font-face {
  src: url("../../fonts/OpenSans-Regular.ttf");
  font-family: "OpenSans";
}
@font-face {
  src: url("../../fonts/OpenSans-ExtraBold.ttf");
  font-family: "OpenSans800";
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "OpenSans";
}

ul {
  list-style: none;
}

body {
  display: flex;
  flex-flow: column;
  background-color: rgba(170, 170, 170, 0.3);
}
body main {
  padding: 90px 0 60px 0;
}
body footer {
  margin-top: auto !important;
}

.main-sec {
  padding: 24px 0;
}
.main-sec > * {
  width: 80% !important;
  max-width: 800px !important;
  margin: 0px auto;
}
.main-sec hgroup {
  text-align: center;
  margin: 30px auto !important;
}

.visable {
  display: block !important;
}

body > header {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f7df1e;
  padding: 20px;
  transition: all 0.18s ease-out;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}
body > header .logo {
  width: 38px;
  height: 38px;
  background-image: url("../../ico/js.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  left: 16px;
}
body > header h1 {
  font-size: 20px;
  transition: all 0.2s ease-out;
}
body > header h1 span {
  font-family: "OpenSans800";
}

.index-main-wr {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 800px;
  padding: 80px 0 0 0;
  margin: 0 auto;
}
.index-main-wr .card {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  border-radius: 8px;
  background-image: linear-gradient(120deg, #1ea4f7, #711ef7);
  width: 150px;
  height: 180px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
  padding: 24px 0 18px 0;
  margin: 20px 72px 120px 72px;
  transition: 0.3s ease-out;
  cursor: pointer;
}
.index-main-wr .card:hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8);
}
.index-main-wr .card:hover figure {
  background-size: 55%;
  box-shadow: 0 0 7px rgba(255, 255, 255, 0.5);
}
.index-main-wr .card:hover h3 {
  text-shadow: 0 0 21px rgba(255, 255, 255, 0.5);
}
.index-main-wr .card figure {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
  border: 10px solid #decc47;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #f7df1e;
  transition: all 0.2s ease-out;
}
.index-main-wr .card figure.tab {
  background-image: url("../../ico/cardTab.svg");
}
.index-main-wr .card figure.acc {
  background-image: url("../../ico/cardAcc.svg");
}
.index-main-wr .card figure.car {
  background-image: url("../../ico/cardCar.svg");
}
.index-main-wr .card figure.slide {
  background-image: url("../../ico/cardSlid.svg");
}
.index-main-wr .card h3 {
  color: #fff;
  width: 100%;
  text-align: center;
  transition: all 0.2s ease-out;
}

footer {
  background-color: #aaa;
  text-align: center;
  padding: 20px 0 12px 0;
}
footer ul {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px 0 30px 0;
}
footer ul li {
  padding: 2px 12px;
  border-right: 1px solid #f7df1e;
}
footer ul li:last-child {
  border-right: none;
}
footer ul li a {
  color: #1e37f7;
  text-decoration: none;
}
footer ul li a:hover {
  color: #711ef7;
  text-decoration: underline;
}

#tabs1 header {
  display: flex;
  align-items: center;
}
#tabs1 header button {
  border: none;
  flex-grow: 1;
  text-align: center;
  cursor: pointer;
  padding: 20px 0;
}
#tabs1 article {
  display: none;
  padding: 40px;
}
#tabs1 article > * {
  padding: 20px;
}
#tabs1 article:nth-of-type(1), #tabs1 header button:nth-of-type(1) {
  background-color: #1ea4f7;
}
#tabs1 article:nth-of-type(2), #tabs1 header button:nth-of-type(2) {
  background-color: #decc47;
}
#tabs1 article:nth-of-type(3), #tabs1 header button:nth-of-type(3) {
  background-color: rgba(113, 30, 247, 0.5);
}

#acc1 li {
  background-color: gainsboro;
  margin: 0 0 1rem 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
#acc1 li h4 {
  padding: 20px;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
#acc1 li h4::after {
  content: "+";
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  right: 20px;
}
#acc1 li h4.active4::after {
  content: "-";
}
#acc1 li .acc1-cont {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
#acc1 li .acc1-cont p {
  padding: 24px 40px;
  line-height: 1.5rem;
  border-top: 3px solid red;
  border-image: linear-gradient(to right, green, red, orange, blue) 1;
}

#acc2 {
  color: #222;
}
#acc2 > * {
  background-color: rgba(30, 55, 247, 0.4);
}
#acc2 h4 {
  border-radius: 6px 6px 0 0;
  padding: 16px 24px;
  position: relative;
  cursor: pointer;
}
#acc2 h4:hover {
  text-decoration: underline;
}
#acc2 h4::after {
  border: px solid red;
  content: " ";
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("../../ico/arrowDown.svg");
  position: absolute;
  right: 18px;
  top: 17px;
  transition: all 0.2s ease-out;
}
#acc2 h4.active2::after {
  content: "";
  transform: rotate(-180deg);
}
#acc2 li {
  border-radius: 0 0 6px 6px;
  max-height: 0px;
  overflow: hidden;
  padding: 0px;
  margin: 0 0 12px 0;
  transition: 0.3s ease-out;
}
#acc2 li p {
  border-top: 1px solid #bbb;
  padding: 24px 40px;
}

.active2 {
  text-decoration: underline;
}

.carousel {
  position: relative;
}
.carousel figure {
  display: none;
  width: 100%;
  height: 384px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.carousel button {
  border: none;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 36px;
  height: 44px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../../ico/arrowL.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 48%;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.14s ease-out;
}
.carousel button:nth-of-type(1) {
  left: 20px;
}
.carousel button:nth-of-type(2) {
  right: 20px;
  transform: rotate(180deg) translateY(50%);
}
.carousel button:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

.dots {
  display: flex;
  justify-content: center;
}
.dots button {
  border: 1px solid rgba(30, 55, 247, 0.2);
  background-color: rgba(170, 170, 170, 0.2);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin: 14px 8px;
  cursor: pointer;
  transition: background-color 0.14s ease-in, border 0.2s ease-in;
}

.dot-active, #dts1 button:hover, #dts2 button:hover {
  border: 8px solid rgba(30, 55, 247, 0.3) !important;
  background-color: rgba(170, 170, 170, 0.3) !important;
}

#car1 figure:nth-of-type(1) {
  background-image: url("../../img/01.jpg");
}
#car1 figure:nth-of-type(2) {
  background-image: url("../../img/02.jpg");
}
#car1 figure:nth-of-type(3) {
  background-image: url("../../img/03.jpg");
}
#car1 figure:nth-of-type(4) {
  background-image: url("../../img/04.jpg");
}

#car2 figure:nth-of-type(1) {
  background-image: url("../../img/05.jpg");
}
#car2 figure:nth-of-type(2) {
  background-image: url("../../img/06.jpg");
}
#car2 figure:nth-of-type(3) {
  background-image: url("../../img/07.jpg");
}
#car2 figure:nth-of-type(4) {
  background-image: url("../../img/08.jpg");
}

#car3 figure:nth-of-type(1) {
  background-image: url("../../img/09.jpg");
}
#car3 figure:nth-of-type(2) {
  background-image: url("../../img/10.jpg");
}
#car3 figure:nth-of-type(3) {
  background-image: url("../../img/11.jpg");
}
#car3 figure:nth-of-type(4) {
  background-image: url("../../img/12.jpg");
}

.car4 {
  position: relative;
  margin: 100px auto;
}
.car4 .car4-track-cont {
  position: relative;
  overflow: hidden;
  margin: 40px auto;
}
.car4 .car4-track-cont .car4-track {
  position: absolute;
  left: 0px;
  display: flex;
  height: 100%;
  list-style: none;
  transition: all 0.4s ease-out;
}
.car4 .car4-track-cont .car4-track .car4-slide {
  width: 600px;
  height: 300px;
}
.car4 .car4-track-cont .car4-track .car4-slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.car4 .car4-butt-cont {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  display: flex;
  width: 300px;
  height: 8px;
  background-color: silver;
  margin: 40px auto;
}
.car4 .car4-butt-cont .car4-butt {
  flex-grow: 1;
  cursor: pointer;
}
.car4 .car4-butt-cont .car4-indicator {
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0px;
  background-color: rgba(30, 55, 247, 0.4);
  width: 33.3%;
  height: 100%;
  transition: all 0.4s ease-out;
  cursor: pointer;
}

.car5 {
  width: 600px !important;
  margin: auto;
  overflow: hidden;
}
.car5 .car5-slide {
  display: flex;
  width: 100%;
  height: 500px;
}
.car5 .car5-slide img {
  width: 600px;
  object-fit: cover;
}/*# sourceMappingURL=style.css.map */