@font-face {
  src: url("../../fonts/OpenSans-Regular.ttf");
  font-family: "OpenSans";
}
@font-face {
  src: url("../../fonts/OpenSans-ExtraBold.ttf");
  font-family: "OpenSans800";
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "OpenSans";
}

ul {
  list-style: none;
}

body {
  display: flex;
  flex-flow: column;
  background-color: rgba(170, 170, 170, 0.3);
}
body main {
  padding: 90px 0 60px 0;
}
body footer {
  margin-top: auto !important;
}

hgroup {
  text-align: center;
  margin: 30px 0;
}

.visable {
  display: block !important;
}

body > header {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f7df1e;
  padding: 20px;
  transition: all 0.18s ease-out;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}
body > header .logo {
  width: 38px;
  height: 38px;
  background-image: url("../../ico/js.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  left: 16px;
}
body > header h1 {
  font-size: 20px;
  transition: all 0.2s ease-out;
}
body > header h1 span {
  font-family: "OpenSans800";
}

.index-main-wr {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 800px;
  padding: 80px 0 0 0;
  margin: 0 auto;
}
.index-main-wr .card {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  border-radius: 8px;
  background-image: linear-gradient(120deg, #1ea4f7, #711ef7);
  width: 150px;
  height: 180px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
  padding: 24px 0 18px 0;
  margin: 20px 72px 120px 72px;
  transition: 0.3s ease-out;
  cursor: pointer;
}
.index-main-wr .card:hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8);
}
.index-main-wr .card:hover figure {
  background-size: 55%;
  box-shadow: 0 0 7px rgba(255, 255, 255, 0.5);
}
.index-main-wr .card:hover h3 {
  text-shadow: 0 0 21px rgba(255, 255, 255, 0.5);
}
.index-main-wr .card figure {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
  border: 10px solid #decc47;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #f7df1e;
  transition: all 0.2s ease-out;
}
.index-main-wr .card figure.tab {
  background-image: url("../../ico/cardTab1.svg");
}
.index-main-wr .card figure.acc {
  background-image: url("../../ico/cardAcc1.svg");
}
.index-main-wr .card figure.car {
  background-image: url("../../ico/cardCar4.svg");
}
.index-main-wr .card figure.slide {
  background-image: url("../../ico/cardSlide.svg");
}
.index-main-wr .card h3 {
  color: #fff;
  width: 100%;
  text-align: center;
  transition: all 0.2s ease-out;
}

footer {
  background-color: #aaa;
  text-align: center;
  padding: 20px;
}
footer ul {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px 0 30px 0;
}
footer ul li {
  padding: 2px 12px;
  border-right: 1px solid #f7df1e;
}
footer ul li:last-child {
  border-right: none;
}
footer ul li a {
  color: #1e37f7;
  text-decoration: none;
}
footer ul li a:hover {
  color: #711ef7;
  text-decoration: underline;
}

.tab-main-sec {
  padding: 20px 0 40px 0;
}
.tab-main-sec .tabs1 {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}
.tab-main-sec .tabs1 header {
  display: flex;
  align-items: center;
}
.tab-main-sec .tabs1 header button {
  border: none;
  flex-grow: 1;
  text-align: center;
  cursor: pointer;
  padding: 20px 0;
}
.tab-main-sec .tabs1 article {
  display: none;
  padding: 40px;
}
.tab-main-sec .tabs1 article > * {
  border: px solid red;
  padding: 20px;
}
.tab-main-sec .tabs1 article:nth-of-type(1), .tab-main-sec .tabs1 header button:nth-of-type(1) {
  background-color: #1ea4f7;
}
.tab-main-sec .tabs1 article:nth-of-type(2), .tab-main-sec .tabs1 header button:nth-of-type(2) {
  background-color: #decc47;
}
.tab-main-sec .tabs1 article:nth-of-type(3), .tab-main-sec .tabs1 header button:nth-of-type(3) {
  background-color: rgba(113, 30, 247, 0.5);
}

.acc-main-sec {
  padding: 20px 0 40px 0;
}

.acc1, .acc2 {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.acc1 li {
  background-color: gainsboro;
  color: green;
  margin: 0 0 1rem 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.acc1 li h4 {
  padding: 20px;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.acc1 li h4::after {
  content: "+";
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  right: 20px;
}
.acc1 li h4.active4::after {
  content: "-";
}
.acc1 li .acc1-cont {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.acc1 li .acc1-cont p {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 3px solid red;
  border-image: linear-gradient(to right, green, red, orange, blue) 1;
}

.acc2 {
  color: #222;
}
.acc2 > * {
  background-color: rgba(30, 55, 247, 0.4);
}
.acc2 h4 {
  border-radius: 6px 6px 0 0;
  padding: 16px 24px;
  position: relative;
  cursor: pointer;
}
.acc2 h4:hover {
  text-decoration: underline;
}
.acc2 h4::after {
  border: px solid red;
  content: " ";
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("../../ico/arrowDown.svg");
  position: absolute;
  right: 18px;
  top: 17px;
  transition: all 0.2s ease-out;
}
.acc2 h4.active2::after {
  content: "";
  transform: rotate(-180deg);
}
.acc2 li {
  border-radius: 0 0 6px 6px;
  max-height: 0px;
  overflow: hidden;
  padding: 0px;
  margin: 0 0 12px 0;
  transition: 0.3s ease-out;
}
.acc2 li .acc2-p {
  border-top: 1px solid #bbb;
  padding: 24px 40px;
}

.active2 {
  text-decoration: underline;
}

.mySlides {
  display: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.mojSlajd {
  width: 200px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: none;
}

.img1 {
  background-image: url("../../img/01.jpg");
}

.img2 {
  background-image: url("../../img/02.jpg");
}

.img3 {
  background-image: url("../../img/03.jpg");
}

.img4 {
  background-image: url("../../img/04.jpg");
}/*# sourceMappingURL=style.css.map */